@font-face {
	font-family: 'Helvetica';
	src: url('HelveticaMedium.eot');
	src: local('HelveticaMedium'),
		url('HelveticaMedium.eot?#iefix') format('embedded-opentype'),
		url('HelveticaMedium.woff') format('woff'),
		url('HelveticaMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('HelveticaRegular.eot');
  src: local('HelveticaRegular'),
  url('HelveticaRegular.eot?#iefix') format('embedded-opentype'),
  url('HelveticaRegular.woff') format('woff'),
  url('HelveticaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('HelveticaBlack.eot');
	src: local('HelveticaNeueCyr-Black'),
		url('HelveticaBlack.eot?#iefix') format('embedded-opentype'),
		url('HelveticaBlack.woff') format('woff'),
		url('HelveticaBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('HelveticaUltraLight.eot');
	src: local('HelveticaUltraLight'),
		url('HelveticaUltraLight.eot?#iefix') format('embedded-opentype'),
		url('HelveticaUltraLight.woff') format('woff'),
		url('HelveticaUltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('HelveticaBold.eot');
	src: local('HelveticaBold'),
		url('HelveticaBold.eot?#iefix') format('embedded-opentype'),
		url('HelveticaBold.woff') format('woff'),
		url('HelveticaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('HelveticaLight.eot');
	src: local('HelveticaLight'),
		url('HelveticaLight.eot?#iefix') format('embedded-opentype'),
		url('HelveticaLight.woff') format('woff'),
		url('HelveticaLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
